.root {
    flex-grow: 1;
}

.menuButton{
    margin-right: 16px;
}

.title {
    flex-grow: 1;
}

.column {
    max-width: 500px;
    background-color: #F4F5F7;
    margin-left: 24px;
    margin-top: 24px;
}
.createTras {
    background-color: '#F4F5F7';
}
.groupContainer {
    display: flex;
}
