.paper {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 8px;
    background-color: rgb(220, 0, 78);
}

.form {
    width: '100%';
    margin-top: 8px;
}

.submit {
    margin-top: 24px;
    margin-bottom: 16px;
    background-color: aqua;
}