.transaction-root {
    min-width: 275px;
    margin-top: 16px;
}

.transaction-root :hover {
    background-color: '#F4F5F7';
}

.bullet {
    display: "inline-block";
    margin: '0 2px';
    transform: 'scale(0.8)';
}

.title {
    margin-top: 16px;
    font-size: 14;
}

.pos {
    margin-bottom: 12,
}